/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form styles */
.full-width {
  width: 55vh;
  height: 46vh;
}

mat-form-field {
  width: 100%;
}


.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}