.title {
  text-align: center;
  margin-top: 15px; 
}

.content {
  padding-top: 20px;
}

.full-width {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Reduced the gap between form fields */
}

mat-form-field {
  width: 100%;
}

.mat-form-field-wrapper {
  max-width: 200px; /* Adjust the max-width of input fields */
}

.action {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.action button {
  flex: 1;
}
